
{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > Supprimer annonce
{% endblock %}

{% block acceuil %} 
   <section class="col-sm-12">

	<h3>Suppression d'une annonce</h3>
	
		<p>
	    		Etes-vous certain de vouloir supprimer l'annonce "{{ annonce.titre }}" ?
		</p>

		  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
		  <form action="{{ path('sns_platform_delete_annonce', {'id': annonce.id}) }}" method="post">
			    <a href=" {{path('sns_plateform_view_annonce', {'id': annonce.id}) }}" class="btn btn-default">
					<i class="glyphicon glyphicon-chevron-left"></i>
					Retour à l'annonce
			    </a>
			    {# Ici j'ai écrit le bouton de soumission à la main #}
			    <input type="submit" value="Supprimer" class="btn btn-danger" />
			    {# Ceci va générer le champ CSRF #}
			    {{ form_rest(form) }}
		  </form>
   
   </section>

{% endblock %}

